
.one-two {
    width: 100%;
    max-width: 1140px;
    height: 523px;
    margin: auto;
    background: #c7c1c1;
    display: flex;
}

.one-gray {
    width: 496px;
    margin: 0px;
    margin-top: 67px;
    margin-left: 49px;
    height: 389px;
    background: #535353;
}

.two-blue {
    width: 496px;
    height: 389px;
    margin:  0px;
    margin-top: 67px;
    margin-left: 49px;
    margin-right: 50px;
    background: #0041A2;  
}

/*****media query*****/
@media screen and (max-width: 428px) {
    .one-two {
        background-color: transparent;
        flex-wrap: wrap;   
    }

    .one-gray {
        margin-top: 40px;
        margin-left: 37px;
        margin-bottom: 56px;
        margin-right: 38px;
        height: 277px;  
    }

    .two-blue {  
        margin-top: 40px;
        margin-left: 37px;
        margin-bottom: 56px;
        margin-right: 38px;
        height: 277px;
    }
    
}
